[submodule "libs/glfw"]
	path = libs/glfw
	url = git@github.com:glfw/glfw.git
[submodule "libs/glm"]
	path = libs/glm
	url = git@github.com:g-truc/glm.git
[submodule "libs/tinyply"]
	path = libs/tinyply
	url = git@github.com:ddiakopoulos/tinyply.git
